<div class="forms-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="forms-card">
        <form fxLayout="column" fxLayoutGap="10%" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" required formControlName="email">
                <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" type="password" required formControlName="password">
                <mat-error *ngIf="password.invalid"> {{ getPasswordErrorMessage() }}</mat-error>
            </mat-form-field>
            <div class="form-action-buttons" fxLayout="row" fxFlexAlign="end">
                <button mat-raised-button [disabled]="!signinForm.valid" color="primary" type="submit">Sign in</button>
            </div>
        </form>
    </mat-card>
</div>
