<h2 mat-dialog-title>{{ modalTitle }}</h2>
<mat-dialog-content fxLayout="row">
    <form fxLayout="column" fxFlex="100%" fxLayoutGap="5%" [formGroup]="modalForm">
        <mat-form-field>
            <input matInput placeholder="Name" type="text" required formControlName="name">
            <mat-error *ngIf="">test error</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Link Target" type="text" required formControlName="target">
            <mat-error *ngIf="">test error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Icon" type="text" required formControlName="icon">
            <mat-error *ngIf="">test error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Type" [(value)]="type.value" [formControl]="type" required>
                <mat-option *ngFor="let type of types" [value]="type.name">
                    {{type.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="">Please choose a type</mat-error>
            <mat-hint>Select a type</mat-hint>
        </mat-form-field>
        <div fxFlex>
            <mat-checkbox formControlName="isHidden">Is Hidden?</mat-checkbox>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="modalActionButton && modalActionButton !== 'Preview'" mat-raised-button color="primary" (click)="onActionClick()" [disabled]="!modalForm.valid || modalForm.pristine">{{ modalActionButton }}</button>
    <button mat-raised-button color="warn" (click)="onCancelClick()" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
