<div class="job-details-container" fxLayout="column" fxFlexAlign="center" fxLayoutAlign="start center">
    <mat-card fxFlexOffset="10%" fxFlexOffset.sm="20%" class="job-details-card">
        <mat-card-header fxLayout="column">
            <mat-card-title fxFlex=100%>
                <h1>{{ jobAd?.title }}</h1>
            </mat-card-title>
            <mat-card-subtitle fxFlex="100%" fxLayout="row" fxLayout.xs="column">
                <div fxLayoyt="column">
                    <mat-card-subtitle> Category: {{ jobAd?.category.name }}</mat-card-subtitle>
                    <mat-card-subtitle> Created at: {{ jobAd?.createdAt | date:full }}</mat-card-subtitle>
                </div>
                <div class="spacer"></div>
                <mat-card-subtitle> Status: {{ jobAd?.status}}</mat-card-subtitle>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ jobAd?.desc }}
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end end">
            <button mat-raised-button [disabled]="!isAuthenticated" color="primary" (click)="onApplyClick()">Apply</button>
            <button mat-raised-button *ngIf="isAdmin" color="accent" (click)="onApplicationsClick()">Applications</button>
        </mat-card-actions>
    </mat-card>
</div>
