<div class="footer" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%">
        <div class="footer-logo">
            <img class="logo" src="/assets/comet-logo.svg" alt="">
            <a class="footer-logo-title" href="#">NG-COMET</a>
        </div>
        <div class="social-icons-footer">
            <img class="social-icon" src="/assets/facebook-logo.svg" alt="">
            <img class="social-icon" src="/assets/google-logo.svg" alt="">
            <img class="social-icon" src="/assets/twitter-logo.svg" alt="">
        </div>
    </div>
</div>
