.footer {
    background-image: url('/assets/home-parallax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 50%;
    padding: 10px 0px;
    min-height: 20%;
    text-align: center;
}

.social-icon {
    width: 24px;
    height: auto;
    padding: 12px;
}

.footer-logo {
    padding: 20px 0;
}

.logo {
    width: 50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.footer-logo-title {
    text-decoration: none;
    font-size: 2.1em;
    font-weight: bold;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

::ng-deep .mat-button-wrapper {
    padding: 4px !important;
}

.social-icons-footer {
    padding: 0 5px 20px;
}

.footer-social-link {
    margin-right: 6px;
}
