<div class="footer" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%" fxFlex.xs="100%">
        <div class="footer-logo">
            <img class="logo" src="/assets/comet-logo.svg" alt="">
            <a class="footer-logo-title" [routerLink]="['']">NG-COMET</a>
        </div>
        <div class="social-icons-footer">
            <a [href]="link.target" target="_blank" mat-fab color="primary" class="footer-social-link" *ngFor="let link of socialLinks">
                <img class="social-icon" [src]="link.icon" alt="">
            </a>
        </div>
    </div>
</div>
