<!-- <router-outlet></router-outlet> -->
<div class="admin-panel-title" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="90%">
        <h1>Job Ads Admin Panel</h1>
        <a mat-raised-button color="primary" (click)="onCreate()"> Create </a>
    </div>
</div>
<div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="95%" [ngClass.xs]="{'sorted-table-container': true}">
        <app-table-with-sorting class="admin-sorted-table" [data]="jobAds" [displayedColumns]="displayedColumns" [buttonColumns]="buttonColumns" [buttonDef]="buttonDef" (actionButtonClicked)="onAction($event)"></app-table-with-sorting>
    </div>
</div>
