<div class="hero-image" fxLayout="column" [appBackgroundImage]="heroImgUrl">
    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center center" class="hero-text">
        <div fxFlex="50%" fxFlexAlign="center">
            <h1 fxFlexAlign="center">WELCOME TO COMET</h1>
        </div>
    </div>
    <div fxFlex="50%" class="hero-container" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlexAlign="center">
            <a [href]="link.target" *ngFor="let link of links" mat-raised-button color="primary">{{link.name}}</a>
        </div>
    </div>
</div>
