@import '../../../mixins.scss';
.nav-container {
    height: 100%;
    .active {
        background-color: #00796B;
        color: white;
    }
}

::ng-deep.nav-buttons {
    .mat-button,
    .mat-icon-button {
        font-size: 0.8em;
    }
}

.logo-container{
    display: inline-block;
}

.logo{
    width:50px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.nav-logo-title {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.nav-container .mat-toolbar {
  z-index: 6;
//   justify-content: center !important;
}
.toolbar-mobile{
    justify-content: center;
    flex-direction: column;
    
}

.sidenav-menu {
    position: absolute;
    left: 16px;
}
::ng-deep.sidenav-container .mat-list-item-content {
    padding: 0 24px !important;
}

::ng-deep.sidenav-container .mat-expansion-panel {
    box-shadow: none !important;
}

::ng-deep.sidenav-container .mat-expansion-panel-body {
    padding: 0px !important;
}

::ng-deep.sidenav-container .mat-expansion-panel-header {
    font-size: 17px !important;
}

::ng-deep.sidenav-container .mat-expansion-panel-body .mat-list-item-content {
    padding-left: 35px !important;
}

.nav-logo:visited {
    color: inherit;
}

::ng-deep.sidenav-list {
    min-width: 200px;
}

.sidenav-link-icon {
    margin-right: 10px;
}

// .nav-buttons {
//   @include tablet {
//       display: none;
//   }
// }
