@import '../../../mixins.scss';
.nav-container {
    height: 100%;
    .active {
        background-color: #00796B;
        color: white;
    }
}

::ng-deep.nav-buttons {
    .mat-button,
    .mat-icon-button {
        font-size: 0.8em;
    }
}

.nav-logo {
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
    ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-container .mat-toolbar {
  z-index: 6;
}
::ng-deep.sidenav-container .mat-list-item-content {
    padding: 0 24px !important;
}

::ng-deep.sidenav-container .mat-expansion-panel {
    box-shadow: none !important;
}

::ng-deep.sidenav-container .mat-expansion-panel-body {
    padding: 0px !important;
}

::ng-deep.sidenav-container .mat-expansion-panel-header {
    font-size: 17px !important;
}

::ng-deep.sidenav-container .mat-expansion-panel-body .mat-list-item-content {
    padding-left: 35px !important;
}

.nav-logo:visited {
    color: inherit;
}

::ng-deep.sidenav-list {
    min-width: 200px;
}

.sidenav-link-icon {
    margin-right: 10px;
}

// .nav-buttons {
//   @include tablet {
//       display: none;
//   }
// }
