<app-hero-image [links]="actionLinks" [heroImgUrl]="heroImgUrl"></app-hero-image>
<div class="feed-section" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row" fxLayoutAlign="center center" class="feed-section-text">
        <app-text-section fxFlex.xs="90%" fxFlex.sm="80%" fxFlex="50%"></app-text-section>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row" fxLayoutAlign="center center" class="social-feed">
        <app-social-feed fxFlex.xs="90%" fxFlex.sm="80%" fxFlex="50%"></app-social-feed>
    </div>
</div>
